/*Google Fonts Import*/
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');



* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family:"Lato" sans-serif;
}

body {
    height: 100vh;
    display: flex;
    background-color: #696969;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    flex-direction: column;
}

#logo {
    max-width: 100%;
    height: auto;
}

#logo-header {
    display: flex;
    justify-content: center;
    max-height: 20%;
}

.start-screen
.score-container {
    position: absolute;
    display: none;
    height: 100%;
    width: 100%;
    top: 0;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
#start-btn {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.start-screen button
.restart-button {
    font-size: 25px;
    font-weight: 50px;
    background: #fffbbb;
    color: #2f4f4f;
    padding:  15px 30px;
    border: none;
    outline: none;
    border-radius: 5px;
    cursor: pointer;

}

.rules-box {
    display:none;
    width: 540px;
    background: #fffbbb;
    border-radius: 5px;
}

.rules-box .rules-title {
    font-size: 20px;
    font-weight: 600;
    display: flex;
    width: 75%;
    height: 50px;
    border-bottom: 1px solid #808082;
    align-items: center;
    padding: 0 35px;

}

.rules-box .rule-list {
    padding: 10px 25px;
}

.rules-box .rule {
    margin: 5px 0;
    font-size: 17px;
}

.rules-box .rule span {
    font-weight: 600;
    color: rgb(255, 0, 0);
}


#trivia-container {
    background-image: url(../images/Bible-book.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 540px;
    width: 75%;
    max-width: 80%;
    position: absolute;
    margin: 0 auto;
    top: 20%;
    padding: 50px 30px;
    border-radius: 5px 5px 0 0;
    transform: translate(-50% -50%);
    
   
}

#trivia-container .header{
    position: relative;
    height: 70px;
    z-index: 99;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 30px;
    margin-bottom: 1.8em;
    border-radius: 5px 5px 0 0;

}

.timer {
    background-color: #e3dede;
    display: flex;
    align-items: center;
    width: 120px;
    border-radius: 29px;
    padding: 5px 10px;
    justify-content: space-between;

}


#que-container {
    font-weight: 600;
    margin-bottom: 19px;
}


#next-que-btn {
    font-size: 16px;
    background-color: #2f4f4f;
    color: #ffffff;
    margin-top: 15px;
    border-radius: 5px;
    padding: 11px 27px;
    float: left;
    display: flex;
}

#player-score {
    font-size: 1.5em;
    color: white;
}